* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background: wheat;
}

.reset-button {
  font-size: 16px;
  height: 30px;
  line-height: 8px;
  margin-top: 20px;
}

.win-loss-container {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

button {
  background: orange;
  border-radius: 8px;
  color: #131605;
  cursor: pointer;
  font-size: 2em;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 255px;
  padding: 20px 52px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin-top: 0.6em;
}

header {
  padding: 40px;
  text-align: center;
  background: white;
  color: black;
  border-bottom:30px #879274;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

section {
  flex: 0 auto;
  padding: 8px;
  margin-top: 50px;
  background-color: white;
  border-radius: 8px;
}

.word-guess {
  width: 70vw;
  height: 400px;
}

.results {
  width: 20vw;
  height: 400px;
}

.card {
  background: white;
  border: 1px solid #eceff1;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(218, 184, 35, 0.15) 0 2px 4px 3px;
  margin: auto;
  padding: 20px;
}

.word-blanks {
  line-height: 360px;
}

.large-font {
  font-size: 3.5em;
  text-align:center;
}

.timer {
  height: 240px;
  padding: 10px;
  background: orange;
  color: #fff;
  text-align: center;
}

.timer-text {
  padding: 55px;
}

@media screen and (max-width: 1183px) {
  main {
    flex-direction: column;
  }

  section {
    background-color: white;
    margin: 20px auto;
    width: 92vw;
  }
}